---
- name: "Update {{ clbr }}'s collaboration {{ permission }} permission at {{ repo.key }} repo"
  uri:
    body: "{{ body | to_json }}"
    body_format: json
    headers:
      Authorization: "token {{ github_token }}"
    method: PUT
    status_code: 204
    url: "{{ github_api }}/repos/{{ github_org }}/{{ repo.key }}/collaborators/{{ clbr }}"
  vars:
    body:
      permission: "{{ permission }}"
  register: response
